.footer{
  margin:0;
  font-size : 35px;
  padding:0;
  padding-top: 150px;
}
.container{
  display: flex;
  justify-content: space-around;

}
.hero{
  text-align: center;
  outline-style: solid ;
  outline-color: grey;


}
.power{
  font-size: x-large;
  font-weight: 600;
}
.score{
  font-size: xx-large;
}
